@model Dept
<h2>Detaisl of the Searched Department</h2>
<hr />

<p>@Html.DisplayNameFor(d => d.Id) : @Html.DisplayFor(d => d.Id)</p>
<p>@Html.DisplayNameFor(d => d.Name) : @Html.DisplayFor(d => d.Name)</p>
<p>@Html.DisplayNameFor(d => d.Location) : @Html.DisplayFor(d => d.Location)</p>


