@model IEnumerable<Emp>

<h1>List of Employees</h1>
<hr />

<a asp-controller="Emp" asp-action="Create">New Employee</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a asp-controller="Emp" asp-action="ShowBonus">Show Bonus List</a>
<br />

<table border="1">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e => e.Id)</th>
            <th>@Html.DisplayNameFor(e => e.Name)</th>
            <th>@Html.DisplayNameFor(e => e.Deptid)</th>
            <th>@Html.DisplayNameFor(e => e.Dob)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
           <tr>
                <td>@Html.DisplayFor(e => data.Id)</td>
                <td>@Html.DisplayFor(e => data.Name)</td>
                <td>@Html.DisplayFor(e => data.Deptid)</td>
                <td>@Html.DisplayFor(e => data.Dob)</td>
                <td><a asp-controller="Emp" asp-action="Display" asp-route-id="@data.Id">Display</a></td>
                <td><a asp-controller="Emp" asp-action="Edit" asp-route-id="@data.Id">Edit</a></td>
           </tr> 
        }
    </tbody>
</table>